body {
  font-family: Helvetica Neue, Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial,
    sans-serif;

  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("rikki-chan-122572.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

header {
  position: absolute;
  top: 5%;
  left: 5%;
}

h1 {
  font-size: 80px;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
}
.counters {
  left: 37%;
  right: 5%;
  position: absolute;
  top: 5%;
  display: flex;
  justify-content: space-around;
}
.counter {
  text-align: center;
  width: 150px;
  height: 150px;
  margin: 20px;
}
.counter span {
  margin-bottom: 7px;
}
.counter .nbr {
  color: white;
  display: block;
  font-size: 70px;
  border-bottom: 5px solid #95d0a7;
  text-shadow: 1px 1px gray;
}
.counter .label {
  font-size: 12px;
  display: block;
  color: white;
}
.counter .trend {
  font-size: x-small;
  vertical-align: super;
  background: #95d0a7;
  border-radius: 5px;
  padding: 3px;
}
.chart-section {
  opacity: 0.8;
  margin-top: 15vw;
  margin-left: 37%;
  margin-right: 5%;
  min-width: 550px;
  border: 1px solid white;
}
.chart-section .picto {
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  border-radius: 50%;
  color: white;
  background-color: #95d0a7;
}
.picto img {
  width: 60%;
  height: 40%;
  margin-top: 30%;
  margin-left: 20%;
  filter: invert(100%);
}
#chart {
  margin-top: -30px;
}

#chart rect.bordered {
  /**/
}

#chart text.mono {
  font-size: 9pt;
  fill: white;
}

#chart text.axis-workweek {
  fill: white;
}

#chart text.axis-worktime {
  fill: white;
}
